@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Karla:ital@1&family=Kumbh+Sans&family=Manrope:wght@600&family=Overpass&family=Poppins:wght@500&family=Raleway&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;1,8..144,200;1,8..144,300&family=Space+Grotesk:wght@500&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 font-family: "Manrope";
 background-color: hsl(230, 100%, 99%);
 margin:0 auto;
 font-size: 30px;
 text-align: center;
 height: 100vh;
 justify-content: center;
 margin: 0 auto;
     
}
.bg-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.bg-pattern-img {
  height: 300px;
}

.header {
  
  padding: 7em;
}
.wrapper {
  display: grid;
  place-items: center;
}
.pricing {
  /* background-color: hsl(0, 0%, 100%); */
  border-radius: 0 0 0 3rem;
}
.header {
  background-image: url('../src/images/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
.slide {
  display: grid;
  grid-auto-flow: row;
}
.slider {
  -webkit-appearance: none;
  background: hsl(174, 77%, 80%);
  outline: none;
  opacity: 0.7; 
  transition: opacity 0.2s;
  width: 100%;
}
.slider-icon:hover {
  opacity: 1; /* Increase opacity on hover */
}
.icon {
  padding: 12px;
}

.slider-icon {
  position: absolute;
  top: 15.65em;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: hsl(174, 86%, 45%);
  border-radius: 50%;
  padding: 8px 3px;
  box-shadow: 0 3px 16px hsla(174, 86%, 45%, 0.4);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: hsl(174, 77%, 80%);
  border-radius: 30px;
  border: 2px solid hsl(174, 77%, 80%);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px hsl(174, 86%, 45%), 0px 0px 1px hsl(174, 86%, 45%);
  border: 1px solid hsl(174, 77%, 80%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: hsl(174, 86%, 45%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: hsl(174, 86%, 45%);
}
.toggle-container {
  display: inline-block;
  position: relative;
}

.toggle-checkbox {
  display: none;
}

.toggle-slider {
  width: 60px;
  height: 30px;
  background-color: #ddd;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.toggle-thumb {
  width: 30px;
  height: 30px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  position: absolute;
  transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-slider .toggle-thumb {
  transform: translateX(100%);
}

.toggle-label {
  margin-left: 10px;
}

button{
  background-color: hsl(227, 35%, 25%);
  color: #fff;
  font-family: inherit;
  border: 2px solid hsl(227, 35%, 25%);
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: 0 5px 10px hsla(227, 35%, 25%, 0.5);
  transition: all 0.4s;
  transition: transform 0.3s;
  text-align: center;
  justify-content: center;
  padding: 10px 20px;
  place-items: center;
}

button:hover{
  transform: scale(1.1);
}
.but {
  padding: 20px;
}
.container {
  background: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: hsl(185, 41%, 84%);
  margin-left: 3px;
  width: 50%;
}